<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>📟 About Tobi</title>
	</head>
	<body>
		<%- include('./partials/headers.ejs') %>
		<h1>About Me</h1>
		<p>
			Welcome to my corner of the web! I'm Tobi Onipede, a result-driven
			developer currently immersed in the dynamic world of web development
			through Lighthouse Labs' web development flex program.
		</p>
		<p>
			My journey is fueled by a passion for crafting seamless digital
			experiences. Committed to excellence, I thrive in delivering
			high-quality code that not only meets but exceeds expectations. The
			ever-evolving landscape of technology fascinates me, and I am
			dedicated to staying at the forefront by keeping abreast of emerging
			trends and innovative solutions.
		</p>
		<p>
			Driven by a collaborative spirit, I actively seek opportunities to
			contribute to project success. I believe in the power of teamwork to
			elevate ideas and achieve remarkable outcomes. As I embark on this
			coding adventure, my goal is not only to apply my skills
			professionally but also to cultivate continuous growth as a
			developer.
		</p>
		<p>
			I look forward to connecting with fellow enthusiasts, potential
			collaborators, and anyone passionate about leveraging technology to
			create impactful solutions.
		</p>

		<h2>Technical skills</h2>
		<ul>
			<li>Node.js</li>
			<li>Javascript</li>
			<li>React</li>
			<li>TypeSCript</li>
			<li>Ruby</li>
			<li>Rails</li>
			<li>HTML5</li>
			<li>CSS3/Sass</li>
			<li>Bootstrap</li>
			<li>Express</li>
			<li>Ejs</li>
			<li>PostgreSQL</li>
			<li>MongoDB</li>
			<li>Git</li>
			<li>Cypress</li>
			<li>Python</li>
			<li>C</li>
			<li>Jest</li>
			<li>Wordpress</li>
			<li>jQuery</li>
			<li>Ajax</li>
			<li>Mocha & Chai</li>
			<li>RESTful API</li>
		</ul>

		<%- include('./partials/footer.ejs') %>
	</body>
</html>
