<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head.ejs') %>
	</head>
	<body class="full-body">
		<%- include('./partials/headers.ejs') %> 
		
		<%-
		include('./partials/footer.ejs') %>
	</body>
</html>
